@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');

body {
  background-color: lightgrey;
  margin: 1em 10vw;
}

body, input, select, textarea {
  font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 24px;
}

form {
  background-color: white;
  border: 1px solid black;
}

fieldset {
  border: 1px;
}

div {
  display: grid;
  grid-template-columns: 20%% 80%;
  grid-row-gap: 1em;
}

.span2 {
  grid-column-end: span 2;
}

#colorfavorito {
  width: 1em;
  height: 1em;
}

label[for="name"]::after {
  content: ':';
}