body{
    display: flex;
    min-height: 100vh;
    font-family: "Century Gothic", Helvetica, arial, sans-serif;
    font-size: 1.1em;
    background-color: white;
    margin: 0;
    flex-direction: column;
}
header{
    background-color: darkgray;
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
}
nav{
    background-color: darkcyan;
    width: 15em;
}
nav a{
    display: block;
    padding: 0.5em 1em;
    color: white;
    text-decoration: none;
    border-bottom: solid rgba(255, 255, 255, 0.3);
}
nav a:hover{
    cursor: progress;
}
section{
    display: block;
    flex: 1;
    background-color: darkolivegreen;
    margin: 0;
    padding: 0;
}
footer{
    text-align: center;
    background-color: darkgoldenrod;
    justify-content: center;
}
.fl::first-letter{
    color: darkgrey;
    font-size: 200%;
}
img{
    float: left;
    border: 5px solid goldenrod;
    border-radius: 2vh;
    margin-top: 20px;
    margin-right: 30px;
    max-width: 100%;
}
header, nav, section, footer{
    padding: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    color: white;
    /* Si le meto margin: 20px se me descuadra todo */
}
@media screen and (max-width: 640px){
    body{
        min-height: 0;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    nav{
        width: auto;
        order: 0;
    }
    section{
        order: 1;
        flex-basis: auto;
        width: auto;
    }
}
@media print {
    body{
        color: black;
        background-color: white;
        display: flex;
        flex-direction: column;
    }
    main{
        display: flex;
        flex-direction: column;
    }
    nav{
        display: none;
    }
    section{
        width: 100%;
    }
}
